/* animations.css */

@keyframes move {
    from {
        transform: rotate(0deg) scale(10) translateX(-20px);
    }
    to {
        transform: rotate(360deg) scale(16) translateX(20px);
    }
}

body::before {
    text-shadow: 1em 0.5em 7px rgba(255, 244, 0, 0.9),
                 1.5em 2em 7px rgba(188, 0, 255, 0.9),
                 -0.2em 0.8em 7px rgba(0, 255, 191, 0.9);
    animation-duration: 44s;
    animation-delay: -27s;
}

body::after {
    text-shadow: -0.5em 0.9em 7px rgba(0, 124, 255, 0.9),
                 0.2em 1.9em 7px rgba(255, 0, 104, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
}
