/* In styles.css or main.css */
.icon {
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    vertical-align: middle; /* Aligns the icon with text */
    margin-right: 8px; /* Space between icon and text */
}

ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

.profile-avatar {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}
