/* main.css */

/* Base Styles */
html {
    font-size: 1rem; /* Base font size */
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background: #123;
}

body, head {
    display: block;
    color: #333333;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
}
