/* profile.css */

.user-profile {
    text-align: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.profile-avatar {
    min-width: 20vw;
    max-width: 40vw;
    min-height: 20vw;
    max-height: 40vh;
    border-radius: 50%;
    align-content: center;
}
