@(fileForm: Form[model.FileFormData], username: String, repoName: String, path: String, initialContent: String, sha: Option[String])(implicit request: Request[AnyContent], messages: Messages)

@main("Create New File in " + repoName) {
<div class="repo-description">
<h1 class="text-center">Create New File in @repoName</h1>

    <div class="form-container">
    @helper.form(action = routes.GitHubReposController.submitCreateFileForm(username, repoName, path)) {
    @helper.CSRF.formField

    <div class="form-group centered-label-input">
        @helper.inputText(fileForm("fileName"), '_label -> "File Name", 'placeholder -> "Enter the file name")
    </div>

    <div class="form-group centered-label-input">
        @helper.inputText(fileForm("message"), '_label -> "Commit Message", 'placeholder -> "Enter a commit message")
    </div>
    </div>
    <div>
        <label for="file-content">File Content</label>
        <textarea id="file-content" name="content" class="form-control" rows="15">@initialContent</textarea>
    </div>

    <input type="hidden" name="sha" value="@sha.getOrElse("")">

    <button type="submit" class="btn custom-button">Create File</button>
    }

    <a href="@routes.ApplicationController.getGitHubRepoContents(username, repoName)" class="btn custom-button">Back to Repo</a>
</div>

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>

<script src="@routes.Assets.versioned("javascripts/fileEditor.js")"></script>