@(fileForm: Form[model.FileFormData], username: String, repoName: String, path: String)(implicit request: Request[AnyContent], messages: Messages)

@import helper._

@main("Create or Update File") {
<div>
    @helper.form(action = routes.GitHubReposController.submitFileForm(username, repoName, path)) {
    @helper.CSRF.formField
    <div class="form-group">
        @helper.inputText(fileForm("message"), Symbol("_label") -> "Commit Message", Symbol("placeholder") -> "Enter commit message")
    </div>
    <div class="form-group">
        @helper.textarea(fileForm("content"), Symbol("_label") -> "File Content", Symbol("placeholder") -> "Enter file content")
    </div>
    <div class="form-group">
        @helper.inputText(fileForm("sha"), Symbol("_label") -> "SHA (optional)", Symbol("placeholder") -> "SHA")
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
    }
</div>
}
