@(fileForm: Form[model.FileFormData], username: String, repoName: String, path: String)(implicit request: Request[AnyContent], messages: Messages)

@import helper._

@main("Create or Update File") {
@helper.form(action = routes.GitHubReposController.submitFileForm(username, repoName, path)) {
@helper.CSRF.formField

<input type="hidden" name="username" value="@username">
<input type="hidden" name="repoName" value="@repoName">
<input type="hidden" name="path" value="@path">

<div class="form-group">
    @helper.inputText(fileForm("message"), Symbol("_label") -> "Commit Message")
</div>

<div class="form-group">
    @helper.textarea(fileForm("content"), Symbol("_label") -> "File Content")
</div>

<div class="form-group">
    @helper.inputText(fileForm("sha"), Symbol("_label") -> "SHA (optional)", '_value -> "")
</div>

<button type="submit">Submit</button>
}
}
