@(repositories: Seq[model.Repository], username: String)

@main("Repository List") {

<!-- Button to view user profile -->
<a href="@routes.ApplicationController.getGitHubUser(username)" class="btn custom-button" id = "profileBtn">View User Profile
</a>

<h2>Repositories for @username:</h2>
<ul class="repo-list">
    @for(repo <- repositories) {
    <li id="repositories">
        <a href="@routes.ApplicationController.getGitHubRepoContents(username, repo.name)">@repo.name</a>
    </li>
    }
</ul>

}