@(username: String, repoName: String, contents: List[model.Contents])

@main(s"Contents of $repoName by $username") {

<h1>@repoName</h1>
<h3>Owner: @username</h3>

<h2>Repository Contents</h2>
<ul>
    @for(content <- contents) {
    <li>
        @if(content.`type` == "dir") {
        <img src="@routes.Assets.versioned("images/folder.png")" alt="Folder icon" class="icon" />
        } else {
        <img src="@routes.Assets.versioned("images/document.png")" alt="File icon" class="icon" />
        }
        <a href="@content.url">@content.name</a>
    </li>
    }
</ul>

}
