@import model.User

@(user: User, contributionGraphImageUrl: String)

@main("GitHub User Profile") {
<div class="user-profile-container">
    <div class="user-profile">
        <div class="user-top">
            <img src="@user.avatar_url" alt="@user.login's avatar" class="profile-avatar">
            <h1>@user.login</h1>
            <p><strong>Name:</strong> @user.name.getOrElse("No Name Provided")</p>
            <p><strong>Location:</strong> @user.location.getOrElse("Unknown")</p>
            <p><strong>Bio:</strong> @user.bio.getOrElse("No Bio Available")</p>
        </div>
        <h2>@user.login's contributions over the last 365 days: </h2>
        <div class="contribution-map-container">
            <img src="@contributionGraphImageUrl" alt="Contribution graph for @user.login" class="contribution-map">
        </div>
        <div class="profile-stats">
            <div class="stat">
                <strong>Followers: </strong>
                <p>@user.followers</p>
            </div>
            <div class="stat">
                <strong>Following: </strong>
                <p>@user.following</p>
            </div>
        </div>
        <a href="@routes.ApplicationController.getGitHubRepo(user.login)" class="btn custom-button">
            View Repositories
        </a>

    </div>
</div>

<style>

    .stat {
        display: inline-block;
        margin: 0 10px;
    }

    .contribution-map-container {
        margin-top: 30px; /* Add some space above the contribution map */
        text-align: center;
        color: white;
    }

    .contribution-map {
        max-width: 100px;
        max-height: 300px; /* Set a max height to ensure the image is visible without being too large */
        width: auto;
        height: auto;
        margin-bottom: 20px;
        object-fit: contain;
    }

    .contribution-map-note {
        font-size: 1rem;
        color: white;
        margin-top: 10px;
    }
</style>
}
