@(repositories: Seq[model.Repository], username: String)

@main("Repository List") {

<!-- Button to view user profile -->
<form action="@routes.ApplicationController.getGitHubUser(username)" method="GET">
    <button type="submit">View User Profile</button>
</form>

<h2>Repositories for @username</h2>
<ul>
    @for(repo <- repositories) {
    <li>
        <strong>Repository:</strong>
        <a href="@routes.ApplicationController.getGitHubRepoContents(username, repo.name)">@repo.name</a>
    </li>
    }
</ul>

}
