@(username: String, repoName: String, path: String, fileContent: String, sha: String)

@main(s"Contents of $path in $repoName by $username") {
<h1>@repoName</h1>

<p><strong>File:</strong> @path</p>
<p><strong>Owner:</strong> @username</p>
<p><strong>SHA:</strong> @sha</p> <!-- Display the sha -->

<h2>File Content:</h2>
<p>Below is the content of the file <strong>@path</strong>. You can view or edit it:</p>
<pre class="file-content">@fileContent</pre> <!-- Display the file content as preformatted text -->

<!-- Buttons for updating, deleting the file, and going back to the repository contents -->
<div class="button-container">
    <a href="@routes.GitHubReposController.createFileForm(username, repoName, path)" class="btn btn-primary">Update File</a>
    <a href="@routes.GitHubReposController.deleteFileForm(username, repoName, path)" class="btn btn-primary">Delete File</a>
    <a href="@routes.ApplicationController.getGitHubRepoContents(username, repoName)" class="btn btn-primary">Back to Repository Contents</a>
</div>
}
