@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>

    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/components.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/search.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/fonts.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/shooting-stars.css")'>
</head>
<body>

<!-- Background and Shooting Stars Animation -->
<div class="night">
    @for(i <- 1 to 20) {
    <div class="shooting_star"></div>
    }
</div>

<!-- Full Header Content -->
<nav class="mask">
    <a href="@routes.ApplicationController.index()">Home</a>

    <!-- Switch Toggle Button -->
    <label class="switch">
        <input type="checkbox" id="toggle-dark-mode">
        <span class="slider round"></span>
    </label>

    <ul class="list">
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <form action="@routes.ApplicationController.searchGitHubUser" method="GET" role="search" class="header-search-form">
        <input id="search" name="username" type="search" placeholder="Search..." required />
    </form>
    <button class="menu">Menu</button>
</nav>

<!-- Main Content Container -->
<div class="container">
    @content
</div>

<script src='@routes.Assets.versioned("javascripts/darkMode.js")'></script>

</body>
</html>
