@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/components.css")'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
</head>
<body>

<!-- Full Header Content -->
<nav class="header">
    <div class="header-left">
        <form action='@routes.ApplicationController.index()' method="GET">
            <button class="home-button">Home</button>
        </form>
    </div>
    <div class="header-right">
        <h1 class="nav-heading">GitHub in Scala Project</h1>
        <div class="search-container">
            <form action='@routes.ApplicationController.searchGitHubUser' method="GET">
                <input type="text" name="username" placeholder="Enter GitHub username" required>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<!-- Main Content Container -->
<div class="container">
    @content
</div>

<!-- Animated background container with a background image -->
<div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
</div>

<script src='@routes.Assets.versioned("javascripts/animated-background.js")'></script>
</body>
</html>

