@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/styles.css")'>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
</head>
<body>
<nav class="header">
    <div class="header-left">
        <form action='@routes.ApplicationController.index()' method="GET">
            <button class="home-button">Home</button>
        </form>
    </div>
    <div class="header-right">
        <h1 class="nav-heading">GitHub in Scala Project</h1>
        <div class="search-container">
            <form action='@routes.ApplicationController.searchGitHubUser' method="GET">
                <input type="text" name="username" placeholder="Enter GitHub username" required>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    @content
</div>

</body>
</html>
