@(repositories: Seq[model.Repository])


@main("Top Scala Repositories") {
<div class="top-repos-container">
    <h2>Trending Scala Repositories on GitHub</h2>
        <ul class="repo-list">
            @for(repo <- repositories) {
            <li class="repo-item">
                <a href="@repo.html_url" target="_blank" class="repo-link">
                    <span class="repo-name">@repo.name</span>
                    <p class="repo-description">@repo.description.getOrElse("No description available")</p>
                </a>
            </li>
            }
        </ul>
</div>
}